{% include 'header.html' %}
<br>
<div class="container">
    <h1>Login Administrativo</h1>
    <div class="col-md-4">
        <form id="logAdm" onsubmit="login('/login_user/','#logAdm','/paineladm/');return false;" method="POST">
            {% csrf_token %}
            <input  type="email" class="form-control" name="email" placeholder="Digite seu e-mail"/>
            <input  type="passowrd" class="form-control" name="password" placeholder="Digite sua senha"/>
            <input type="submit"  class="btn btn-primary" name="enviar" value="Enviar"/>
        </form>
        
    </div>
</div>